name: utc app ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
    python_version: 3.11
    IMAGE_NAME: portfolio
    AWS_REGION: us-east-1
    ACCOUNT_ID:
    ECR_REPO: $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME

jobs: 
    build:

        runs-on: ubuntu-latest 
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
              with: 
                python-version: ${{env.python_version}}
            - name: Install pytest
              run: pip install -r requirements.txt
            - name: unit test 
              run: pytest 
            - name: Build image 
              run: docker build -t redeatab/portcicd .




